$btn-width: 48px;
$btn-height: 62px;
$canvas-width: 700px;
$canvas-height: 400px;
$mini-map-scale: 0.2;

//colors
$green: #00AD2F;
$yellow: #EEFD4E;

#GameScreen, #AboutScreen, #HelpScreen, #HighScoresScreen, #SettingsScreen, #ChooseLevelScreen {
    display: none;
}

audio {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em;
}
#highscores-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

#highscores-table td, #highscores-table th{
    border: 1px solid #555;
    padding: 8px;
}

#highscores-table tr:nth-child(even){background-color: #EEE;}

#highscores-table tr:hover {background-color: #DDD;}

#highscores-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #00AA2F;
    color: white;
}


#SettingsScreen {
    ul {
        list-style: none;
    }
    #error-message {
        display: none;
        color: #F00;
    }

    #error-message.active {
        display: block;
    }

    #save-message {
        display: none;
        color: #0F0;
    }

    #save-message.active {
        display: block;
    }

    input {
        margin-bottom: 1em;
    }
    button {
        text-decoration: none;
        margin: auto;
    }
    .content-well {
        text-align: center;
    }
}

body {
    background-image: url("../images/footer_lodyas.png");
    color: $green;
    font-family: Georgia;
}
canvas {
    border: 2px solid black;
    cursor: none;
}
#header {
    width: 100%;
    text-align: center;
}
.return-to-main-menu {
    position: fixed;
    top: 0;
    a,div {
        text-decoration: none;
        color: $green;
        font-size: 2em;
        cursor: pointer;
    }
}
#game-field {
    width: $canvas-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#game-screen {
    position: relative;
    width: $canvas-width;
    display: initial;
}
#canvas {
    width: $canvas-width;
    height: $canvas-height;
    background-color: black;
}
#mini-map {
    width: $canvas-width * $mini-map-scale;
    height: $canvas-height * $mini-map-scale;
    z-index: 1;
    position: absolute;
    bottom: 4px;
    right: 0;
    background-color: grey;
 }
#status-bar {
    margin : .5em 0 .5em 0;
    font-size: 1.5em;
    div {
        display: inline;
        padding: 0 2em 0 2em;
    }
}
.bump:hover {
    position: relative;
    left: 1px;
    bottom: 1px;
    box-shadow: -2px 2px 2px black;
}
.bump-text:hover {
    position: relative;
    left: 1px;
    bottom: 1px;
    text-shadow: 1px 1px 2px white;
}

input.error {
    border: 2px solid #F00;
}

button.active {
    position: relative;
    left: -1px;
    bottom: -1px;
    box-shadow: 1px -1px 1px black;
    opacity: 0.5;
}
#control-panel {
    text-align: center;
    button {
        width: $btn-width;
        height: $btn-height;
        border: none;
        color: black;
        position: relative;
        .status {
            position: absolute;
            top: .3em;
            left: 1em;
        }

        &:hover {
            cursor: pointer;
        }
    }
    ul>li {
        display: inline-block;
        padding: 0;
        margin: -2px;
        @for $i from 1 through 12 {
            &:nth-child(#{$i}) > button {
                background: url("/images/lemming_buttons.png") (($i - 1)*$btn-width) 0;
            }
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
#main-menu {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    margin-top: 3em;
}

#main-menu li {
    list-style: none;
    margin-left:auto;
    margin-right:auto;
}

#main-menu a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: inline-block;
}
.btn {
  background: $green;
  background-image: -webkit-linear-gradient(top, $green, darken($green,20%));
  background-image: -moz-linear-gradient(top, $green, darken($green,20%));
  background-image: -ms-linear-gradient(top, $green, darken($green,20%));
  background-image: -o-linear-gradient(top, $green, darken($green,20%));
  background-image: linear-gradient(to bottom, $green, darken($green,20%));
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 10em;
  margin-bottom: 1.5em;
  text-align: center;
  box-shadow: 2px 2px 4px black;

  a {
      text-decoration: none;
  }

  &:hover {
    background: lighten($green, 20%);
    background-image: -webkit-linear-gradient(top, lighten($green, 20%), $green);
    background-image: -moz-linear-gradient(top, lighten($green, 20%), $green);
    background-image: -ms-linear-gradient(top, lighten($green, 20%), $green);
    background-image: -o-linear-gradient(top, lighten($green, 20%), $green);
    background-image: linear-gradient(to bottom, lighten($green, 20%), $green);
    text-decoration: none;
    box-shadow: 2px 2px 4px white;
  }
}
.content-well {
    border-radius: 6px;
    background-color: rgba(255,255,255,0.5);
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    padding: 1em;
    box-shadow: 2px 2px 4px black;
    text-align: left;
    margin-top: 3em;
    color: black;
}
#ChooseLevelScreen {
    text-align: center;
    img {
        width: 300px;
        border: black 2px solid;
        box-shadow: 2px 2px 4px black;
        border-radius: 10px;
        position: relative;
    }
    img:hover {
        position: relative;
        top: -2px;
        right: -2px;
        box-shadow: 2px 2px 4px white;
        opacity: 0.4;
    }
    ul>li {
        display: inline-block;
        padding: 0;
    }
    ul {
        text-align: center;
        list-style-type: none;
        margin: auto;
        padding: 0;
    }
}
