body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button {
    width: 48px;
    height: 62px;
}

#btn1 {
    background: url("/images/lemming_buttons.png") 0 0;
}
#btn2 {
    background: url("/images/lemming_buttons.png") -48px 0;
}
#btn3 {
    background: url("/images/lemming_buttons.png") -96px 0;
}
#btn4 {
    background: url("/images/lemming_buttons.png") -144px 0;
}
#btn5 {
    background: url("/images/lemming_buttons.png") -192px 0;
}
#btn6 {
    background: url("/images/lemming_buttons.png") -240px 0;
}
#btn7 {
    background: url("/images/lemming_buttons.png") -288px 0;
}
#btn8 {
    background: url("/images/lemming_buttons.png") -50px 0;
}
#btn9 {
    background: url("/images/lemming_buttons.png") -50px 0;
}
#btn10 {
    background: url("/images/lemming_buttons.png") -50px 0;
}
#btn11 {
    background: url("/images/lemming_buttons.png") -50px 0;
}
#btn12 {
    background: url("/images/lemming_buttons.png") -50px 0;
}