{{> ./p_return.hbs }}
<div id="game-field">
    <div id="game-screen">
        <canvas id="canvas"></canvas>
        <canvas id="mini-map"></canvas>
    </div>
    <div id="status-bar">
        <div id="timer">
            Time : 00:00
        </div>
        <div id="out">
            OUT : 22
        </div>
        <div id="in">
            IN : 0%
        </div>
    </div>
    <div id="control-panel">
        <ul>
            <li>
                <button class="bump" id="btn1" onclick="alert('clicked')"></button>
            </li>
            <li>
                <button class="bump" id="btn2" onclick="alert('clicked')"></button>
            </li>
            <li>
                <button class="bump" id="btn3" onclick="alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn4" onclick="alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn5" onclick="alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn6" onclick="alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn7" onclick="alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn8" onclick="alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn9" onclick="alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn10" onclick= "alert('clicked')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="btn11" onclick="alert('clicked')">
                    <div class="status">
                        50
                    </div>
                 </button>
            </li>
            <li>
                <button class="bump" id="btn12" onclick="alert('clicked')">
                    <div class="status">
                        50
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>
<script src="/javascripts/bundle.js"></script>

