<ul id="main-menu">
    <li class="btn bump">
        <a href="/game">New Game</a>
    </li>
    <li class="btn bump">
        <a href="/about">About</a>
    </li>
    <li class="btn bump">
        <a href="/help">Help</a>
    </li>
    <li class="btn bump">
        <a href="/highscores">High Scores</a>
    </li>
</ul>
