<ul>
    <li>
        <a href="/game">New Game</a>
    </li>
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/help">Help</a>
    </li>
    <li>
        <a href="/highscores">High Scores</a>
    </li>
</ul>
