<div id="AboutScreen">
    {{> ./_return.hbs }}

    <div class="content-well">
        <h1>About</h1>
        <p>
            Lemmings clone by Ryan Frazier & Seth Bertlshofer
        </p>
        <h2>Game Play</h2>
        <p>
            Each level is allotted a certain amount of resources (i.e. blockers, bombers, climbers, ...) to complete the level. The objective is to get as many lemmings as possible to the end gate. For the level to be complete all lemmings must be gone from the playing field either saved or dead. If you have blockers out you will need to Atomic Bomb the lemmings to finish the level.
        </p>

        <h2>Credits</h2>
        <p>
            Images from Lemmings screen shots taken from Google Search
        </p>
        <p>
            Many thanks to <a href="http://www.widgetworx.com/projects/sl.html">SpriteLib</a> for the blocks and texture sprites.
        </p>
        <p>
            Water wave sprite found <a href="https://raymanpc.com/forum/viewtopic.php?t=7752">here</a>
        </p>
        <p>
            8 Bit music by Eric Skiff. See his <a href="http://ericskiff.com/music/">blog</a>
        </p>
    </div>
</div>
