{{> ./_return.hbs }}

<div class="content-well">
    <h1>{{title}}</h1>
    <p>
        Lemmings clone by Ryan Frazier & Seth Bertlshofer
    </p>
    <p>
        Images from Lemmings screen shots taken from Google Search
    </p>
</div>
