<div id="AboutScreen">
    {{> ./_return.hbs }}

    <div class="content-well">
        <h1>{{title}}</h1>
        <p>
            Lemmings clone by Ryan Frazier & Seth Bertlshofer
        </p>
        <p>
            Images from Lemmings screen shots taken from Google Search
        </p>
        <p>
            Many thanks to <a href="http://www.widgetworx.com/projects/sl.html">SpriteLib</a> for the blocks and texture sprites.
        </p>
        <p>
            Water wave sprite found <a href="https://raymanpc.com/forum/viewtopic.php?t=7752">here</a>
        </p>
    </div>
</div>
