<div id="ChooseLevelScreen">
    {{> ./_return.hbs }}

    <div class="content-well">
        <ul>
            <li>
                <h2>Level 1</h2>
                <a href="/game/1"><img alt="level1" src="/images/level1.gif"/></a>
            </li>
            <li>
                <h2>Level 2</h2>
                <a href="/game/2"><img alt="level2" src="/images/level2.gif"/></a>
            </li>
            <li>
                <h2>Level 3</h2>
                <a href="/game/3"><img alt="level2" src="/images/level3.gif"/></a>
            </li>
        </ul>
    </div>
</div>
