<div id="GameScreen">
{{> ./_return.hbs }}
<div id="game-field">
    <div id="game-screen">
        <canvas id="canvas"></canvas>
        <canvas id="mini-map"></canvas>
    </div>
    <div id="status-bar">
        <div id="timer">
            Time : 00:00
        </div>
        <div id="out">
            OUT : 22
        </div>
        <div id="in">
            IN : 0%
        </div>
    </div>
    <div id="control-panel">
        <ul>
            <li>
                <button class="bump" id="pause-btn" onclick="inputs.Keyboard.buttonPress('pause-btn')"></button>
            </li>
            <li>
                <button class="bump" id="atomic-bombs-btn" onclick="inputs.Keyboard.buttonPress('atomic-bombs-btn')"></button>
            </li>
            <li>
                <button class="bump" id="btn3" onclick="inputs.Keyboard.buttonPress('btn3')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump active" id="pick-axe-btn" onclick="inputs.Keyboard.buttonPress('pick-axe-btn')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-digging-btn" onclick="inputs.Keyboard.buttonPress('lemming-digging-btn')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-builder-btn" onclick="inputs.Keyboard.buttonPress('lemming-builder-btn')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-blocking-btn" onclick="inputs.Keyboard.buttonPress('lemming-blocking-btn')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-exploding-btn" onclick="inputs.Keyboard.buttonPress('lemming-exploding-btn')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-umbrella-btn" onclick="inputs.Keyboard.buttonPress('lemming-umbrella-btn')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-climbing-btn" onclick= "inputs.Keyboard.buttonPress('lemming-climbing-btn')">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="speed-up-btn" onclick="inputs.Keyboard.buttonPress('speed-up-btn')">
                    <div class="status">
                        50
                    </div>
                 </button>
            </li>
            <li>
                <button class="bump" id="speed-down-btn" onclick="inputs.Keyboard.buttonPress('speed-down-btn')">
                    <div class="status">
                        50
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>
<script src="/javascripts/bundle.js"></script>

</div>
