<div id="GameScreen">
<div  class="return-to-main-menu">
    <div id="exit-game" class="bump-text">&larr; Main Menu</div>
</div>
<div id="game-field">
    <div id="game-screen">
        <canvas id="canvas"></canvas>
        <canvas id="mini-map" style="display:none"></canvas>
    </div>
    <div id="status-bar">
        <div id="timer">
            Time : 00:00
        </div>
        <div id="out">
            OUT : 0
        </div>
        <div id="in">
            IN : 0%
        </div>
    </div>
    <div id="control-panel">
        <ul>
            <li>
                <button class="bump" id="pause-btn"></button>
            </li>
            <li>
                <button class="bump" id="atomic-bomb-btn"></button>
            </li>
            <li>
                <button class="bump" id="lemming-digging-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-pickaxe-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-bashing-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-builder-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-blocking-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-exploding-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-umbrella-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="lemming-climbing-btn">
                    <div class="status">
                        123
                    </div>
                </button>
            </li>
            <li>
                <button class="bump" id="speed-up-btn">
                    <div class="status">
                        50
                    </div>
                 </button>
            </li>
            <li>
                <button class="bump" id="speed-down-btn">
                    <div class="status">
                        50
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>

<audio id="music" controls loop>
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

</div>
