<div id="HelpScreen">
    {{> ./_return.hbs }}

    <div class="content-well">
        <h1>{{title}}</h1>
        <p>
            Click the buttons to save the lemmings. Try to save as many as you can.
        </p>
    </div>
</div>
