{{> ./main.hbs }}
{{> ./about.hbs }}
<div id="SettingsScreen">
    {{> ./settings.hbs }}
</div>
<div id="HighScoresScreen">
    {{> ./highscores.hbs }}
</div>

{{> ./game.hbs }}

<img id="blocks" alt="blocks sheet" src="images/blocks.png" style="display:none">
<img id="cursors" alt="cursor images" src="images/cursors.png" style="display:none">
<img id="waves" alt="waves images" src="images/waves.png" style="display:none">
<div id="gates" style="display:none">
    <img id="entranceGate" alt="sprite sheet" src="images/entrance_gate.png">
    <img id="exitGate" alt="sprite sheet" src="images/end_gate.png">
</div>
<div id="images" style="display:none">
    <img id="lemming_walking" alt="sprite sheet" src="images/lemming_walking.png">
    <img id="lemming_falling" alt="sprite sheet" src="images/lemming_falling.png">
    <img id="lemming_blocking" alt="sprite sheet" src="images/lemming_blocking.png">
    <img id="lemming_umbrella" alt="sprite sheet" src="images/lemming_umbrella.png">
    <img id="lemming_exploding" alt="sprite sheet" src="images/lemming_exploding.png">
    <img id="lemming_climbing" alt="sprite sheet" src="images/lemming_climbing.png">
    <img id="lemming_climb_over" alt="sprite sheet" src="images/lemming_climb_over.png">
    <img id="lemming_splatting" alt="sprite sheet" src="images/lemming_splatting.png">
    <img id="lemming_drowning" alt="sprite sheet" src="images/lemming_drowning.png">
    <img id="lemming_builder" alt="sprite sheet" src="images/lemming_builder.png">
    <img id="lemming_timeup" alt="sprite sheet" src="images/lemming_timeup.png">
    <img id="lemming_digging" alt="sprite sheet" src="images/lemming_digging.png">
    <img id="lemming_trap_10tons" alt="sprite sheet" src="images/lemming_trap_10tons.png">
    <img id="lemming_trap_hanging" alt="sprite sheet" src="images/lemming_trap_hanging.png">
    {{!--
    <img id="lemming_traps" alt="sprite sheet" src="images/lemming_traps.png">
    <img id="block1_sprites" alt="sprite sheet" src="images/blocks1.png">
    <img id="block2_sprites" alt="sprite sheet" src="images/blocks2.png">
    --}}
</div>
