    {{> ./_return.hbs }}

    <div id="hot-keys" class="content-well">
        <h3>Hot Keys</h3>
{{#if hotKeys}}
    {{#each hotKeys}}
        <label for="{{id}}">{{id}}: </label><input type="text" id="{{id}}" placeholder="" value="{{value}}"/>
    {{/each}}
{{/if}}
        <button id="hotkey-save-btn" class="btn bump">Save</button>
    </div>
