<div id="SettingsScreen">
    {{> ./_return.hbs }}

    <div id="hot-keys" class="content-well">
        <h3>Hot Keys</h3>
        <label for="pause">Pause: <input type="text" id="pause" placeholder=""/></label>
        <label for="atomicBomb">Atomic Bomb: <input type="text" id="atomicBomb" placeholder=""/></label>
        <label for="lemmingStop">Lemming Stop: <input type="text" id="lemmingStop" placeholder=""/></label>
        <label for="lemmingBomb">Lemming Bomb: <input type="text" id="lemmingBomb" placeholder=""/></label>
        <label for="lemmingUmbrella">Lemming Umbrella: <input type="text" id="lemmingUmbrella" placeholder=""/></label>
        <label for="lemmingClimb">Lemming Climber: <input type="text" id="lemmingClimb" placeholder=""/></label>
        <label for="fastForward">Fast Forward: <input type="text" id="fastForward" placeholder=""/></label>
        <label for="slowDown">Slow Down: <input type="text" id="slowDown" placeholder=""/></label>
        <button id="hotkey-save-btn" class="btn">Save</button>
    </div>
</div>
